# Site configuration
site_name: Mathiol
site_url: https://blog.mathiol.com/
site_author: Bordier-Aupy Mathieu

# Theming
extra_css:
  - stylesheets/extra.css

theme:
  name: material
  logo: https://avatars.githubusercontent.com/u/68553121
  favicon: https://avatars.githubusercontent.com/u/68553121
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: catppuccin-latte
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: catppuccin-macchiato
      toggle:
        icon: material/lightbulb-outline
        name: Switch to system preference

  # MkDocs Material features
  features:
    - navigation.tabs
    - navigation.indexes
    - navigation.tracking
    - navigation.sections
    - header.autohide
    - search.suggest
    - search.highlight
    - toc.follow

# Pages in nav bar
nav:
  - Home: index.md
  - Projects: projects.md
  - Blog:
      - blog/index.md

# Plugin and extra
plugins:
  - blog
  - search
extra:
  generator: false
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/matmat37000
markdown_extensions:
  - toc:
      permalink: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
